*/node_modules
*/dist
bot/backend/download
bot/backend/node_modules
bot/backend/cache
bot/backend/temp
bot/backend/images
bot/shared/node_modules
essentia/venv
essentia/models
*.env
*.env.*
.env
*.sqlite3
messages*.json