:root {
  --scaling: 1.35;
  font-size: calc(var(--scaling) * 16px);
  line-height: 1.5rem;
  font-weight: 400;

  --icon-size: calc(var(--spacer) * 1.5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--surface-canvas);
  color: var(--text-primary);
  font-family: 'Ubuntu Mono', monospace;
}

body {
  min-height: 100vh;
}

img.no-aa {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.shadow-lg {
  box-shadow: 0 0 var(--space-3) var(--space-2) rgba(var(--gray-900-rgb), .5);
}

.shadow-md {
  box-shadow: 0 0 var(--space-2) var(--space-1) rgba(var(--gray-900-rgb), .5);
}

.shadow-sm {
  box-shadow: 0 0 var(--space-1) calc(var(--space-1) * 0.5) rgba(var(--gray-900-rgb), .5);
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.bg-primary {
  background: var(--surface-primary);
}

.bg-secondary {
  background: var(--surface-secondary);
}

.bg-tertiary {
  background: var(--surface-tertiary);
}

.bg-brand {
  background: var(--surface-brand);
}

.bg-accent {
  background: var(--surface-accent);
}

button {
  padding: var(--space-1) var(--space-2);
  outline: none;
  border: none;
  --btn-bg: var(--surface-brand); 
  --btn-color: var(--text-on-brand-primary);
  color: var(--btn-color);
  background: var(--btn-bg);
  /* border-radius: var(--space-1); */
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: inherit;
}

button:focus, button:active {
  outline: 1px solid var(--btn-color);
}

.opacity-0 {
  opacity: 0;
}

* {
  /* Foreground, Background */
  scrollbar-color: var(--surface-brand) var(--surface-primary);
}
*::-webkit-scrollbar {
  width: var(--space-1); /* Mostly for vertical scrollbars */
  height: var(--space-1); /* Mostly for horizontal scrollbars */
}
*::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--surface-brand);
}
*::-webkit-scrollbar-track { /* Background */
  background: var(--surface-primary);
}

input {
  font-family: 'Ubuntu Mono', monospace;
}

input:focus {
  outline: none;
}

.d-none {
  display: none !important;
}


