:root {
  --gray-50: #eafcff;
  --gray-100: #c9dadd;
  --gray-200: #aab8bb;
  --gray-300: #8b9799;
  --gray-400: #6e787a;
  --gray-500: #525a5b;
  --gray-600: #3a4041;
  --gray-700: #242728;
  --gray-800: #0f1111;
  --gray-900: #020202;
  --brand-50: #fdf0ff;
  --brand-100: #e4d5ff;
  --brand-200: #cbbbff;
  --brand-300: #b3a1f7;
  --brand-400: #9b87e1;
  --brand-500: #846ecb;
  --brand-600: #614e9b;
  --brand-700: #402f6e;
  --brand-800: #221344;
  --brand-900: #08001d;
  --accent-50: #ccffff;
  --accent-100: #afe7ff;
  --accent-200: #92cdff;
  --accent-300: #75b4fc;
  --accent-400: #599be6;
  --accent-500: #3b82d0;
  --accent-600: #225fa0;
  --accent-700: #073d72;
  --accent-800: #001e47;
  --accent-900: #00031f;
  --success-50: #c3ffe1;
  --success-100: #a4f8c6;
  --success-200: #85dfab;
  --success-300: #65c790;
  --success-400: #43af77;
  --success-500: #10985e;
  --success-600: #007141;
  --success-700: #004c26;
  --success-800: #002a0c;
  --success-900: #000c00;
  --warning-50: #fff4ae;
  --warning-100: #ffd98e;
  --warning-200: #f2bf6e;
  --warning-300: #dba54c;
  --warning-400: #c48c23;
  --warning-500: #ad7300;
  --warning-600: #825200;
  --warning-700: #5a3300;
  --warning-800: #351700;
  --warning-900: #130100;
  --danger-50: #ffe1e3;
  --danger-100: #ffc5c7;
  --danger-200: #ffa9ad;
  --danger-300: #f48e93;
  --danger-400: #dc7379;
  --danger-500: #c55961;
  --danger-600: #963b43;
  --danger-700: #692028;
  --danger-800: #3f050f;
  --danger-900: #190000;
  --gray-50-rgb: 234, 252, 255;
  --gray-100-rgb: 201, 218, 221;
  --gray-200-rgb: 170, 184, 187;
  --gray-300-rgb: 139, 151, 153;
  --gray-400-rgb: 110, 120, 122;
  --gray-500-rgb: 82, 90, 91;
  --gray-600-rgb: 58, 64, 65;
  --gray-700-rgb: 36, 39, 40;
  --gray-800-rgb: 15, 17, 17;
  --gray-900-rgb: 2, 2, 2;
  --brand-50-rgb: 253, 240, 255;
  --brand-100-rgb: 228, 213, 255;
  --brand-200-rgb: 203, 187, 255;
  --brand-300-rgb: 179, 161, 247;
  --brand-400-rgb: 155, 135, 225;
  --brand-500-rgb: 132, 110, 203;
  --brand-600-rgb: 97, 78, 155;
  --brand-700-rgb: 64, 47, 110;
  --brand-800-rgb: 34, 19, 68;
  --brand-900-rgb: 8, 0, 29;
  --accent-50-rgb: 204, 255, 255;
  --accent-100-rgb: 175, 231, 255;
  --accent-200-rgb: 146, 205, 255;
  --accent-300-rgb: 117, 180, 252;
  --accent-400-rgb: 89, 155, 230;
  --accent-500-rgb: 59, 130, 208;
  --accent-600-rgb: 34, 95, 160;
  --accent-700-rgb: 7, 61, 114;
  --accent-800-rgb: 0, 30, 71;
  --accent-900-rgb: 0, 3, 31;
  --success-50-rgb: 195, 255, 225;
  --success-100-rgb: 164, 248, 198;
  --success-200-rgb: 133, 223, 171;
  --success-300-rgb: 101, 199, 144;
  --success-400-rgb: 67, 175, 119;
  --success-500-rgb: 16, 152, 94;
  --success-600-rgb: 0, 113, 65;
  --success-700-rgb: 0, 76, 38;
  --success-800-rgb: 0, 42, 12;
  --success-900-rgb: 0, 12, 0;
  --warning-50-rgb: 255, 244, 174;
  --warning-100-rgb: 255, 217, 142;
  --warning-200-rgb: 242, 191, 110;
  --warning-300-rgb: 219, 165, 76;
  --warning-400-rgb: 196, 140, 35;
  --warning-500-rgb: 173, 115, 0;
  --warning-600-rgb: 130, 82, 0;
  --warning-700-rgb: 90, 51, 0;
  --warning-800-rgb: 53, 23, 0;
  --warning-900-rgb: 19, 1, 0;
  --danger-50-rgb: 255, 225, 227;
  --danger-100-rgb: 255, 197, 199;
  --danger-200-rgb: 255, 169, 173;
  --danger-300-rgb: 244, 142, 147;
  --danger-400-rgb: 220, 115, 121;
  --danger-500-rgb: 197, 89, 97;
  --danger-600-rgb: 150, 59, 67;
  --danger-700-rgb: 105, 32, 40;
  --danger-800-rgb: 63, 5, 15;
  --danger-900-rgb: 25, 0, 0;
  --persistent-white: #FFFFFF;
  --persistent-black: #000000;
  
}
:root,
:root:has(#theme-selector>option[value="light"]:checked),
:root:has(#theme-selector>label>input[name="theme"][id="light"]:checked) {
  --surface-canvas: var(--gray-50);
  --surface-primary: var(--persistent-white);
  --surface-secondary: var(--gray-50);
  --surface-tertiary: var(--gray-100);
  --surface-inverted: var(--gray-900);
  --surface-brand: var(--brand-600);
  --surface-accent: var(--accent-600);
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-700);
  --text-tertiary: var(--gray-600);
  --text-quarternary: var(--gray-500);
  --text-inverted: var(--persistent-white);
  --text-brand: var(--brand-600);
  --text-link: var(--brand-600);
  --text-on-inverted-primary: var(--persistent-white);
  --text-on-inverted-secondary: var(--gray-200);
  --text-on-brand-primary: var(--persistent-white);
  --text-on-brand-secondary: var(--accent-100);
  --text-on-accent-primary: var(--persistent-white);
  --text-on-accent-secondary: var(--accent-100);
  --divider-primary: var(--gray-500);
  --divider-on-inverted: var(--gray-500);
  --divider-on-brand: var(--brand-200);
  --divider-on-accent: var(--accent-200);
}
@media (prefers-color-scheme: dark) {
  :root {
    --surface-canvas: var(--gray-800);
    --surface-primary: var(--gray-900);
    --surface-secondary: var(--gray-800);
    --surface-tertiary: var(--gray-700);
    --surface-inverted: var(--gray-100);
    --surface-brand: var(--brand-500);
    --surface-accent: var(--accent-500);
    --text-primary: var(--gray-50);
    --text-secondary: var(--gray-200);
    --text-tertiary: var(--gray-300);
    --text-quarternary: var(--gray-400);
    --text-inverted: var(--persistent-black);
    --text-brand: var(--brand-200);
    --text-link: var(--brand-400);
    --text-on-inverted-primary: var(--gray-900);
    --text-on-inverted-secondary: var(--gray-600);
    --text-on-brand-primary: var(--persistent-white);
    --text-on-brand-secondary: var(--accent-50);
    --text-on-accent-primary: var(--persistent-white);
    --text-on-accent-secondary: var(--accent-50);
    --divider-primary: var(--gray-400);
    --divider-on-inverted: var(--gray-400);
    --divider-on-brand: var(--brand-800);
    --divider-on-accent: var(--accent-800);
  }
}
:root:has(#theme-selector>option[value="dark"]:checked),
:root:has(#theme-selector>label>input[name="theme"][id="dark"]:checked) {
    --surface-canvas: var(--gray-800);
    --surface-primary: var(--gray-900);
    --surface-secondary: var(--gray-800);
    --surface-tertiary: var(--gray-700);
    --surface-inverted: var(--gray-100);
    --surface-brand: var(--brand-500);
    --surface-accent: var(--accent-500);
    --text-primary: var(--gray-50);
    --text-secondary: var(--gray-200);
    --text-tertiary: var(--gray-300);
    --text-quarternary: var(--gray-400);
    --text-inverted: var(--persistent-black);
    --text-brand: var(--brand-200);
    --text-link: var(--brand-400);
    --text-on-inverted-primary: var(--gray-900);
    --text-on-inverted-secondary: var(--gray-600);
    --text-on-brand-primary: var(--persistent-white);
    --text-on-brand-secondary: var(--accent-50);
    --text-on-accent-primary: var(--persistent-white);
    --text-on-accent-secondary: var(--accent-50);
    --divider-primary: var(--gray-400);
    --divider-on-inverted: var(--gray-400);
    --divider-on-brand: var(--brand-800);
    --divider-on-accent: var(--accent-800);
}