.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: block;
}

.d-none {
  display: none !important;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.align-center {
  align-items: center;
}